* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Cabecera */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  /* Barra de navegación general */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Estilos de barra de navegación  */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Crear columnas, columna izquierda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Columna derecha */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }

  /* Estilos para card dentro del div */
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Pie de página */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Layout responsive */
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Layour responsive */

  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }